/* Import Inter from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Tailwind base, components, utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Optional: set Inter as default */
@layer base{
  body{
    @apply font-inter
  }
  h1{
    @apply text-2xl md:text-3xl lg:text-[40px] text-primary font-bold
  }
  hr{
    @apply h-0.5 bg-[#EDEDED] w-full border-0 
  }
  section {
    @apply space-y-3
  }
  h2{
    @apply text-base md:text-lg lg:text-xl text-primary font-bold
  }
  option {
    @apply rounded-3xl
  }
}

@layer components {
  .inputStyle {
    @apply bg-white placeholder:text-[#848282] shadow-md p-2.5 py-3 rounded-md w-full text-base;
  }
}

/* Fix for MUI + Tailwind reset conflict */
*:where(.MuiButton-root) {
  all: unset;
  display: inline-flex;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes checkBounce {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out forwards;
}

.animate-checkBounce {
  animation: checkBounce 0.6s ease-out forwards;
}

